<!doctype html>
<html>
  <head>
    <title>Google Maps Example</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>Share Ride</h1>
      <div id="map-canvas" style="width:600px;height:400px"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io('http://localhost:3000');
//      socket.on('news', function (data) {
//        console.log(data);
//        socket.emit('my other event', { my: 'data' });
//      });
//      socket.on('coords', function(data) {
//        console.log('coords: ' + JSON.stringify(data))
//      })
    window.lat = 22.3964;
    window.lng = 114.1095;

    var map;
    var mark;
    var lineCoords = [];
      
    var initialize = function() {
      map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:12});
      mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
    };

    window.initialize = initialize;

    var redraw = function(payload) {
      lat = payload.message.lat;
      lng = payload.message.lng;

      map.setCenter({lat:lat, lng:lng, alt:0});
      mark.setPosition({lat:lat, lng:lng, alt:0});
      
      lineCoords.push(new google.maps.LatLng(lat, lng));

      var lineCoordinatesPath = new google.maps.Polyline({
        path: lineCoords,
        geodesic: true,
        strokeColor: '#2E10FF'
      });
      
      lineCoordinatesPath.setMap(map);
    };

    // Adds a marker to the map.
    function addMarker(location, map) {
      // Add the marker at the clicked location, and add the next-available label
      // from the array of alphabetical characters.
      var marker = new google.maps.Marker({
        position: location,
        //label: labels[labelIndex++ % labels.length],
        map: map
      });
    }

    var pnChannel = "map3-channel";

//    var pubnub = new PubNub({
//      publishKey:   'pub-c-ff6bd040-3fe7-4cc6-9347-ca681518b60a',
//      subscribeKey: 'sub-c-030ed1e4-18c0-11ea-b737-3a3f5ed666ca'
//    });
//
//    pubnub.subscribe({channels: [pnChannel]});
//    pubnub.addListener({message:redraw});

    setInterval(function() {
      let coords = {lat:window.lat + 0.001, lng:window.lng + 0.01}
      //pubnub.publish({channel:pnChannel, message:{lat:window.lat + 0.001, lng:window.lng + 0.01}});
      //pubnub.publish({channel:pnChannel, message:coords});

      console.log('testing...');
      socket.emit('coords', { my: coords });
    }, 1000);

    socket.on('passenger', function(data) {
      console.log('passenger' + JSON.stringify(data))
      addMarker( {lat:data.latitude , lng:data.longitude } ,map)
    })
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAj5ZzIaxcXZ7gpxLOSi7yaIZPxYAWT_8c&callback=initialize"></script>

  </body>
</html>
